
  <div class="sidenav">
    <a (click)="home_page()" style="cursor: pointer;font-size: 18px;color: rgb(8, 8, 8)">Home</a>
    <mat-divider></mat-divider>
    <a (click)="settings_page()" style="cursor: pointer;font-size: 18px;color:  rgb(8, 8, 8)">Settings</a>
    <mat-divider></mat-divider>
    <a (click)="profile_page()" style="cursor: pointer;font-size: 18px;color:  rgb(8, 8, 8)">Profile</a>
  </div>



  
  <div class="main_content">

    <router-outlet></router-outlet>


  </div>
<!-- <div class="footer">
    hello footer
</div> -->